<div class="main">
  <div class="container">
    <div class="collection">
      <div class="loco">
        <span><i>.Login</i></span>
      </div>

      <div class="login-box">
        <div class="text-box">
          <input type="text" placeholder="+27" [(ngModel)]="phoneNumber" />
        </div>
        <div id="recaptcha-container"></div>
        <div class="btn" (click)="otp()"><button>request OTP</button></div>

  <div class="text-box">
          <input type="text" placeholder="enter OTP"[(ngModel)]="code" />
        </div>
        <div class="btn">
        <button (click)="varification()" >verify Otp</button>
        <button (click)="cancel()">cancel</button>
        </div>

      </div>
    </div>
  </div>
</div>
